<ul class="list-unstyled">
    
  <% coordinates.each do |coordinate| %>
  
  
     <li>
       <%=link_to '詳細',coordinate,class:'btn btn-success btn-sm' %>
      <% if current_user == coordinate.user %>
        <%= link_to'削除',coordinate, method: :delete,data: {confirm:'削除してよろしいですか？'},class:'btn btn-danger btn-sm' %>
      <% end %>
        <%= render 'favorites/favorite_button', coordinate:coordinate %>
    </li>  
  <li>
    <table class="table table-bordered">
     <tr>    
        <th>name</th>
        <td>
          <%= coordinate.user.name %>
        </td>
      </tr>
    
      
    
      <tr>    
        <th>content</th>
        <td>
          <%= coordinate.content %>
        </td>
      </tr>
    
    </table>
    
  </li>
  <% end %>    
    
    
    
</ul>