<ul class="list-unstyled">
    
  <% coordinates.each do |coordinate| %>
  
  <li>
     <li>
      <% if current_user == coordinate.user %>
        <%= link_to'削除',coordinate, method: :delete,data: {confirm:'削除してよろしいですか？'},class:'btn btn-danger btn-sm' %>
      <% end %>
        <%= render 'favorites/favorite_button', coordinate:coordinate %>
    </li>  
    <table class="table table-bordered">
     <tr>    
        <th><%=link_to 'name',coordinate %></th>
        <td>
          <%= coordinate.user.name %>
        </td>
      </tr>
    
      <tr>    
        <th><%= link_to '画像',coordinate %></th>
        <td>
          <%= image_tag coordinate.img.url %>
        </td>
      </tr>
    
      <tr>    
        <th><%= link_to 'content',coordinate %></th>
        <td>
          <%= coordinate.content %>
        </td>
      </tr>
    
    </table>
    
  </li>
  <% end %>    
    
    
    
</ul>